Checks:
  - '*'
  - '-altera-unroll-loops'
  - '-bugprone-easily-swappable-parameters'
  - '-bugprone-sizeof-expression'
  - '-clang-diagnostic-error'
  - '-clang-diagnostic-note'
  - '-cppcoreguidelines-avoid-do-while'
  - '-cppcoreguidelines-macro-usage'
  - '-cppcoreguidelines-no-malloc'
  - '-cppcoreguidelines-owning-memory'
  - '-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
  - '-cppcoreguidelines-pro-bounds-constant-array-index'
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
  - '-cppcoreguidelines-pro-type-const-cast'
  - '-cppcoreguidelines-pro-type-reinterpret-cast'
  - '-cppcoreguidelines-pro-type-union-access'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-fuchsia-default-arguments-calls'
  - '-fuchsia-default-arguments-declarations'
  - '-fuchsia-overloaded-operator'
  - '-google-readability-todo'
  - '-hicpp-uppercase-literal-suffix'
  - '-hicpp-vararg'
  - '-llvmlibc-implementation-in-namespace'
  - '-llvmlibc-restrict-system-libc-headers'
  - '-llvmlibc-*'
  - '-misc-const-correctness'
  - '-misc-definitions-in-headers'
  - '-misc-no-recursion'
  - '-misc-static-assert'
  - '-misc-unused-parameters'
  - '-modernize-use-auto'
  - '-modernize-use-nodiscard'
  - '-modernize-use-trailing-return-type'
  - '-modernize-use-using'
  - '-performance-enum-size'
  - '-readability-braces-around-statements'
  - '-readability-function-cognitive-complexity'
  - '-readability-identifier-length'
  - '-readability-identifier-naming'
  - '-readability-implicit-bool-conversion'
  - '-readability-simplify-boolean-expr'
  - '-readability-static-accessed-through-instance'

HeaderFilterRegex: '.*\.(cpp|h)$'
FormatStyle: file

CheckOptions:
  - key: 'modernize-loop-convert.MaxCopySize'
    value: '16'
  - key: 'readability-identifier-naming.VariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ClassCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.FunctionCase'
    value: 'camelBack'
  - key: 'cppcoreguidelines-avoid-magic-numbers.IgnoreEnums'
    value: '1'
  - key: 'cppcoreguidelines-avoid-magic-numbers.IgnoreOctalLiterals'
    value: '1'
